DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
FMP_API_KEY=""
FMP_BASE_URL="https://financialmodelingprep.com/stable"
PROVIDER_HTTP_TIMEOUT_MS="20000"
FRED_API_KEY=""
FRED_BASE_URL="https://api.stlouisfed.org/fred"
BANK_OF_CANADA_BASE_URL="https://www.bankofcanada.ca/valet"
BANK_OF_CANADA_USD_CAD_SERIES_ID="FXUSDCAD"
GDELT_BASE_URL="https://api.gdeltproject.org/api/v2"
GDELT_TIMEOUT_MS="20000"
GDELT_QUERY_DELAY_MS="250"
GDELT_MAX_RETRY_429="1"
PRINT_ROUTES_ON_STARTUP="false"
